@model List<MatchScore>

<style>
    .match-scores-table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px;
    }

        .match-scores-table th, .match-scores-table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }

        .match-scores-table th {
            background-color: #333;
            color: white;
        }

        .match-scores-table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .match-scores-table tr:hover {
            background-color: #ddd;
        }

    /* Add classes for the checkmark and cross icons */
    .checkmark {
        color: green;
    }

    .cross {
        color: red;
    }
</style>

<!-- Display success rate above the table -->
<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;">
    <form method="get" action="@Url.Action("Index", "MatchScore")">
        <label for="selectedDate">Select Date:</label>
        <input type="date" id="selectedDate" name="selectedDate" value="@((ViewBag.SelectedDate ?? DateTime.Now).ToString("yyyy-MM-dd"))" />
    </form>

    <div>
        <strong>Success Rate:</strong> @ViewBag.SuccessRate.ToString("0.00")%
    </div>
</div>

<script>
    document.getElementById('selectedDate').addEventListener('change', function () {
        this.form.submit();
    });
</script>

<table class="match-scores-table">
    <thead>
    <tr>
        <th>Match</th>
        <th>Teams</th>
        <th>1h Prediction</th>
        <th>Prediction</th>
        <th>Result</th>
        <th>Match Date</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody id="match-score-body">
    @foreach (var data in Model)
    {
        <tr>
            <td>@data.MatchId</td>
            <td>@($"{data.HomeTeam} - {data.AwayTeam}")</td>
            <td>@data.FirstHalfScore</td>
            <td>@data.PredictedScore</td>
            <td>@data.ActualScore</td>
            <td>@data.MatchDate.ToShortDateString()</td>
            <td>
                @if (data.Success)
                {
                    <span class="checkmark">&#10003;</span>
                }
                else
                {
                    <span class="cross">&#10007;</span>
                }
            </td>
        </tr>
    }
    </tbody>
</table>





